html {
  background-color: #ffffff;
  font-family:  sans-serif;
  text-align: center;
}

h1 {
  font-size: 36px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
}

table, th, td {
  border: 1px solid;
  border-color: #000000;
  padding: 8px;
  text-align: center;
}

a {
  color: #000000;
  visited: #0000ff;
}

p {
  color: #000000;
  text-align:center;
}

input[type=text]{
  border: 1px solid;
  line-height: 15px;
  text-align: center;
}

input[type=number]{
  width: 375px;
  line-height: 15px;
  text-align: center;
  border: 0;
  font-size: 13px;
}

button, input[type=submit] {
  background: #7492b2;
  border: none;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 15px;
  margin: auto;
}

button:hover, input[type=submit]:hover {
  background: #99CCFF;
}
